!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "style.css", rel: "stylesheet"}/
    %link{href: "./free-icon-graphic-design-2205980.png", rel: "shortcut icon", type: "image/x-icon"}/
    %title Design Studio
  %body
    %header
      .burger
        %span
        %span
    %main
      .ADS
        %h1
          About
          %u Design
          Studio
        %p Sample text. Click to select the text box. Click again or double click to start editing the text.
      .Projects
        .textcon
          %h1
            %u Projects
          %p Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You day real less till dear read. Considered use dispatched melancholy sympathize discretion led. Oh feel if up to till like. He an thing rapid these after going drawn or. Timed she his law the spoil round defer. In surprise concerns informed betrayed he learning is ye. Ignorant formerly so ye blessing.
        .pictures
          .pic.kitchen
          .pic.book
          .pic.fish